.loginContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 789px;
  background-color: #f3f3f3;
}

.loginContents {
  width: 365px;
  margin: 10% auto;

  & p {
    font-size: 14px;
  }
  & input {
    color: #4e545f;
    font-size: 0.875em;
    height: 40px;
    min-width: 257px;
    background-color: #f3f3f3;
    border-color: #4e545f;
    max-width: 365px;
    padding: 10px 13px;
    margin: 0 0 10px;
    border: 2px solid #4e545f;
    border-radius: 0;
    width: 100%;
    line-height: 1.15;
  }
}

.loginHeadText {
  text-align: center;
  & h2 {
    font-size: 30px;
  }
}

.loginBtn {
  font-size: 1.0625em;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 18px;
  background-color: #4e545f;
  border: 0;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1.15;
}

.loginInputArea {
  & input {
    margin-bottom: 11px;
    margin-top: 11px;
  }
}

.loginIdtext {
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: red;
}

.loginPwtext {
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: red;
}

.checkBoxContainer {
  position: relative;
  display: block;
  height: 26px;
  margin: 0 0;
  #loginCheck {
    margin-top: 4px;
    margin-left: 0;
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #4e545f;
    cursor: pointer;
    background: url(https://png.pngtree.com/png-vector/20190121/ourmid/pngtree-correct-symbol-big-red-check-mark-stereoscopic-rendering-check-mark-png-image_508031.jpg)
      no-repeat;
    background-size: 16px;
  }
  #loginCheckNone {
    margin-top: 4px;
    margin-left: 0;
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #4e545f;
    cursor: pointer;
    background-size: 18px;
  }
  #loginCheckLabel {
    margin-top: 4px;
    margin-left: 0;
    font-size: 15px;
    line-height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    padding-left: 33px;
    cursor: pointer;
    color: #333;
  }
}

#kakao-login-btn {
  width: 182.5px;
}

// 로그인 인풋버튼 수정중
// 한번더 수정중
