@import "style/color.scss";

.eachOrder {
  display: flex;
  height: 200px;
  margin: 5% 0 4%;
  border-bottom: 1px solid $myPageBorderColor;
  padding-bottom: 20px;

  .productImage {
    .itemImageContainer {
      .sockImage {
        position: absolute;
        width: 200px;
        height: 200px;
      }
      .imageMasked {
        position: relative;
        mix-blend-mode: multiply;
      }

      .patternMasked {
        position: absolute;
        mix-blend-mode: multiply;
        left: 0;
      }
    }
  }

  .orderExplanationWrap {
    display: flex;
    .orderSummary {
      font-size: 18px;
      margin: auto 30px;
      > div {
        margin-bottom: 14px;
        &:first-child {
          color: gray;
        }
        &:nth-child(2) {
          font-weight: bold;
        }
      }
    }

    .orderDetailBtn {
      font-size: 20px;
      width: 130px;
      height: 40px;
      margin: 15% 0 0 70%;
      border: 1px solid $myPageBorderColor;
    }
  }
}
