$mediaPixel: 768px;

.itemImageContainer {
  position: relative;
  width: 350px;
  height: 350px;

  .imageMasked {
    position: relative;
    mix-blend-mode: multiply;
  }

  .patternMasked {
    position: absolute;
    mix-blend-mode: multiply;

    @media screen and (max-width: $mediaPixel) {
      left: 0;
    }
  }

  .uploadedImageMasked {
    position: absolute;
    mix-blend-mode: multiply;
    background-size: 20%;
  }
}
