@import "Style/color.scss";

.personalInformationDetailRoot {
  > p {
    &:nth-child(2) {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
}

.changeInformation {
  > div {
    > p {
      font-size: 18px;
      font-weight: bold;
      margin-top: 40px;
      padding-left: 1%;
    }

    input {
      font-size: 20px;
      padding: 0 2% 0 1.3%;
      width: 55%;
      height: 40px;
    }
  }

  .updateInfoBtn {
    margin: 4% 0 0 4%;
    font-size: 18px;
    background-color: transparent;
    color: $myPageSmallBtnColor;
  }
}

@media (max-width: 768px) {
  .personalInformationDetailRoot {
    position: relative;
    right: 5%;
    > p {
      &:nth-child(2) {
        margin-left: 10%;
        width: 65%;
        text-align: center;
      }
    }
  }

  .changeInformation {
    > div {
      display: flex;
      flex-direction: column;
    }
    .updateInfoBtn {
      margin: 20px 0 0 0;
      width: 30px;
    }
  }
}
