@import "Style/color.scss";

.personalInformationDetailRoot {
  > p {
    &:nth-child(2) {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
}

.changeInformation {
  > div {
    > p {
      font-size: 18px;
      font-weight: bold;
      margin-top: 40px;
      padding-left: 4px;
    }

    input {
      font-size: 20px;
      padding: 0 20px 0 8px;
      height: 2em;
    }
  }

  .updateInfoBtn {
    margin: 18px 0 0 15px;
    font-size: 18px;
    color: $myPageSmallBtnColor;
  }
}
