.modalRoot {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid red;

  .modalContainer {
    margin: 25%;
    border: 1px solid blue;
    text-align: center;
    box-shadow: 0 0 0 100vmax #a5a5a5;
  }
}
