@import "Style/color.scss";

.myPageRoot {
  border-top: 3px solid $myPageBodyColor;
  height: 100vh;
}

.userInfo {
  position: relative;
  left: 15.8em;
  .userNickName {
    padding-top: 1em;
    font-weight: bold;
    font-size: 30px;
  }
  .welcomeMessage {
    font-size: 13px;
    line-height: 1.5em;
  }
}

.hidden {
  display: none;
  margin: 0;
}

.optionsWrap {
  margin-top: 4em;
  display: flex;

  .selectOptionsWrap {
    position: relative;
    left: 14.4em;
    text-align: right;
    font-size: 17px;

    > div {
      margin-bottom: 1em;
      padding-right: 1.3em;
      border-right: 2px solid $myPageBodyColor;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
        cursor: pointer;
        color: $myPageHoverColor;
      }
    }
    .clicked {
      font-weight: bold;
      text-decoration: underline;
      border-right: 3px solid $myPageBtnClickedBorderColor;
    }
  }
  .optionsDetail {
    position: relative;
    left: 24em;
    bottom: 3.3em;
  }
}

.detailRoot {
  > p {
    &:first-child {
      font-weight: bold;
      font-size: 45px;
    }
  }
}
