@import "Style/color.scss";

.myPageRoot {
  border-top: 3px solid $myPageBodyColor;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 428px;
}

.userInfo {
  position: relative;
  left: 10%;
  .userNickName {
    padding-top: 30px;
    font-weight: bold;
    font-size: 30px;
  }
  .welcomeMessage {
    font-size: 13px;
    line-height: 35px;
  }
}

.hidden {
  display: none;
  margin: 0;
}

.optionsWrap {
  margin-top: 60px;
  display: flex;

  .selectOptionsWrap {
    position: relative;
    left: 5.4%;
    width: 20%;
    text-align: right;
    font-size: 17px;

    > div {
      margin-bottom: 16px;
      padding-right: 13%;
      border-right: 2px solid $myPageBodyColor;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
        cursor: pointer;
        color: $myPageHoverColor;
      }
    }
    .clicked {
      font-weight: bold;
      text-decoration: underline;
      border-right: 3px solid $myPageBtnClickedBorderColor;
    }
  }
  .optionsDetail {
    position: relative;
    left: 13%;
    bottom: 55px;
  }
}

.detailRoot {
  > p {
    &:first-child {
      font-weight: bold;
      font-size: 45px;
    }
  }
}

@media (max-width: 768px) {
  .myPageRoot {
    .optionsWrap {
      display: flex;
      flex-direction: column;

      .optionsDetail {
        margin-top: 10%;
        position: relative;
        right: 3%;
      }
    }
  }
}
