@import "Style/color.scss";

.myPageRoot {
  border-top: 3px solid $myPageBodyColor;
}

.userInfo {
  position: relative;
  left: 169px;
  .userNickName {
    padding-top: 30px;
    font-weight: bold;
    font-size: 30px;
  }
  .welcomeMessage {
    font-size: 13px;
    line-height: 35px;
  }
}

.hidden {
  display: none;
}

.optionsWrap {
  margin-top: 60px;
  display: flex;

  .selectOptionsWrap {
    position: relative;
    left: 225px;
    width: 200px;
    text-align: right;
    font-size: 17px;

    > div {
      margin-bottom: 16px;
      padding-right: 23px;
      border-right: 2px solid $myPageBodyColor;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
        cursor: pointer;
        color: $myPageHoverColor;
      }
    }
    .clicked {
      font-weight: bold;
      text-decoration: underline;
      border-right: 3px solid $myPageBtnClickedBorderColor;
    }
  }
  .optionsDetail {
    position: relative;
    left: 350px;
    bottom: 55px;
  }
}

.detailRoot {
  > p {
    &:first-child {
      font-weight: bold;
      font-size: 45px;
    }
  }
}
