@import "Style/color.scss";

.shoppingCartRoot {
  margin: 4% 18%;
  > p {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    padding-bottom: 1%;
    border-bottom: 1px solid $myPageBtnClickedBorderColor;
  }

  .shoppingCartContainer {
    display: flex;
    flex-wrap: wrap;
    .leftBox {
      .shoppingCartTotal {
        .shoppingCartList {
          display: flex;
          padding: 2% 5% 0;
          .productImage {
            .itemImageContainer {
              width: 200px;
              height: 200px;
            }
            .sockImage {
              position: absolute;
              width: 130px;
              height: 130px;
              margin: 25px;
            }

            .imageMasked {
              position: relative;
              mix-blend-mode: multiply;
            }

            .patternMasked {
              position: absolute;
              left: 0;
              mix-blend-mode: multiply;
            }
          }

          .productMiddleContainer {
            padding: 5.1% 0 4%;
            width: 180px;

            > div {
              margin-bottom: 6px;
            }
            .productCategoryAndType {
              font-weight: bold;
              margin-bottom: 30px;
            }
          }

          .productRightContainer {
            text-align: center;
            display: flex;
            flex-direction: column;
            .count,
            .removeItemBtn {
              margin: 28px;
            }
            .count {
              border: 1px solid $myPageBtnClickedBorderColor;
              font-size: 20px;
              background-color: $myPageBtnFontColor;

              &::-ms-expand {
                display: none;
              }

              &::placeholder {
                font-size: 25px;
              }
            }
            .removeItemBtn {
              font-size: 15px;
              color: $myPageSmallBtnColor;
            }
          }
        }
      }
    }

    .rightBox {
      position: relative;
      left: 14.6%;
      margin-top: 50px;
      width: 330px;
      padding: 0 15px;
      background-color: $shoppingCartSmallBoxColor;

      .payBtn {
        width: 100%;
        height: 50px;
        color: $myPageBtnFontColor;
        font-weight: bold;
        font-size: 25px;
        margin-top: 15px;
        padding: 10px 0;
        background-color: $myPageBtnColor;
      }

      .countTotal {
        margin-top: 15px;
        font-size: 18px;
        padding: 0 10px;
        font-weight: bold;
      }

      .priceWrap {
        background-color: $myPageBtnFontColor;
        padding: 10px;
        margin: 15px 0;
        font-size: 18px;
        > div {
          display: flex;
          justify-content: space-between;
          margin-top: 25px;
          padding-bottom: 8px;
          border-bottom: 1px solid $shoppingCartSmallBoxColor;
          &:nth-child(4),
          &:last-child {
            border: none;
            padding: 0;
          }
          > p {
            margin: 0;
            font-weight: bold;
          }

          &:last-child {
            text-align: right;
            color: $myPageSmallBtnColor;
            justify-content: flex-end;
            font-size: 15px;
            margin: 10px 0;
          }
        }

        .pointsWrap {
          > p {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
