@import "style/color.scss";

.pageHeader {
  position: static;
  border-bottom: 2px solid $headerBorderColor;
  .headerTop {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto 5px;
    > div {
      display: flex;
    }
  }
  button {
    background-color: transparent;
  }
}

.myAccountWrap {
  margin-top: 110px;
  .myAccountIcon {
    width: 35px;
    height: 35px;
    background-image: url("https://previews.123rf.com/images/alekseyvanin/alekseyvanin1709/alekseyvanin170901431/86082022-baby-socks-line-icon-outline-vector-sign-linear-style-pictogram-isolated-on-white-symbol-illustratio.jpg");
    background-size: 200%;
    background-position: center;
  }
  .myAccountBtn {
    font-size: 22px;
  }
}

.cartWrap {
  margin-top: 100px;
  .cartIcon {
    width: 50px;
    height: 40px;
    background-color: none;
    background-image: url("https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .cartBtn {
    font-size: 22px;
    margin-bottom: 52px;
  }

  #plusfriend-chat-button {
  }
}

.logo {
  background-image: url("https://wesocks-design-management.s3.ap-northeast-2.amazonaws.com/WeSocksLogo.jpg");
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: 160%;
}

.headerBottom {
  font-size: 20px;
  display: flex;
  justify-content: center;
  > div {
    padding: 1% 2%;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}
