@import "style/color.scss";

.pageHeader {
  position: static;
  border-bottom: 2px solid $headerBorderColor;
  .headerTop {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto 5px;
    > div {
      display: flex;
    }
  }
  .logo {
    margin-right: 85px;
  }
}

.myAccountWrap {
  margin-top: 110px;
  .myAccountIcon {
    width: 35px;
    height: 35px;
    background-image: url("https://previews.123rf.com/images/alekseyvanin/alekseyvanin1709/alekseyvanin170901431/86082022-baby-socks-line-icon-outline-vector-sign-linear-style-pictogram-isolated-on-white-symbol-illustratio.jpg");
    background-size: 200%;
    background-position: center;
  }
  .myAccountBtn {
    font-size: 22px;
  }
}

.cartWrap {
  margin-top: 100px;
  .cartIcon {
    width: 50px;
    height: 40px;
    background-color: none;
    background-image: url("https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .cartBtn {
    font-size: 22px;
    margin-bottom: 52px;
  }

  #plusfriend-chat-button {
  }
}

.logo {
  background-image: url("https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/66581582_10219333026297311_768585733354029056_n.jpg?_nc_cat=109&_nc_oc=AQnbFmKwYsflpX_REgyIzlI1x5P7jo5fYJaGjSeKdrPVboac8OToZsDsRXrIuSoadCE&_nc_ht=scontent-gmp1-1.xx&oh=30ba89fce788225ae3b4b14060feeffb&oe=5DBAB91A");
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: 160%;
}

.headerBottom {
  font-size: 18px;
  display: flex;
  justify-content: center;
  > div {
    padding: 10px 40px;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}
