$myPageBodyColor: #f1f1f1;
$myPageHoverColor: #9c9c9c;
$myPageBtnColor: #4e4e4e;
$myPageBorderColor: #666565;
$myPageSelectBorderColor: #cfcfcf;
$myPageBtnClickedBorderColor: #000000ef;
$myPageSmallBtnColor: #00ccff;
$myPageBtnFontColor: #ffffff;

$myAccountExplanationColor: #9e6f6c;
$myAccountExplanationColor: #9e6f6c;

$headerBorderColor: #333333;

$customBtnUnclickedColor: #d3d0d0;
$customBtnClickedColor: #2b2b2b;

$shoppingCartSmallBoxColor: #d8d9da;
$shoppingCartInnerBoxColor: #f6f6f6;
$shoppingCartMessageBoxColor: #e0e0e0;
$shoppingCartDarkFontColor: #0f0f0f;

$progressBarInitialColor: #f0f0f050;
$progressBarChangedColor: #ffffff13;
$progressBarBackgroundColor: #e0e0e0;
$progressBarFivePercentColor: #f63a0f;
$progressBarTwentyFivePercentColor: #f27011;
$progressBarFiftyPercentColor: #f2b01e;
$progressBarSeventyFivePercentColor: #f2d31b;
$progressBarEightyFivePercentColor: #86e01e;

$headerBorderColor: #494949;

$fontKR: "Noto Sans KR", sans-serif;
