$myPageBodyColor: #f1f1f1;
$myPageHoverColor: #9c9c9c;
$myPageBtnColor: #4e4e4e;
$myPageBorderColor: #666565;
$myPageBtnClickedBorderColor: #0a0a0a96;
$myPageSmallBtnColor: #00ccff;
$customBtnUnclickedColor: #d3d0d0;
$myAccountExplanationColor: #9e6f6c;
$shoppingCartSmallBoxColor: #d8d9da;
$shoppingCartInnerBoxColor: #f6f6f6;
