@import "Style/color.scss";

.customRoot {
  margin: 80px 230px;
  flex-wrap: wrap;
  .chooseTypesWrap {
    margin: 0 20px 20px;
    display: flex;
    justify-content: space-evenly;
    width: 420px;
    font-size: 20px;
    font-weight: bolder;
  }

  .chooseViewsWrap {
    display: flex;
    justify-content: space-evenly;
    width: 420px;
    font-size: 20px;
    font-weight: bolder;
  }

  button {
    cursor: pointer;
    font-size: 20px;
    color: $customBtnUnclickedColor;
    &:hover {
      opacity: 0.7;
      color: $myPageHoverColor;
      text-decoration: underline;
    }
  }

  .clicked {
    color: $customBtnClickedColor;
    text-decoration: underline;
    font-weight: bold;
  }

  .customCenter {
    display: flex;
  }

  .socksContainer {
    position: relative;
    margin-top: 130px;
    margin-left: 50px;
    width: 450px;
    height: 450px;

    .itemImageContainer {
      position: relative;
    }

    .sockImage {
      top: 0;
      left: 0;
      position: absolute;
      width: 450px;
      height: 450px;
    }

    .imgDragnDrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      background-repeat: no-repeat;
      background-size: cover;
      // border-radius: 50px;
      background-color: black;
    }
  }

  .patternSizeBar {
    position: absolute;
    top: 1000px;
    left: 380px;
  }

  .chooseWrap {
    width: 465px;
    padding: 50px 0 0 180px;
    margin-left: 200px;

    > div {
      > p {
        font-weight: bold;
        font-size: 20px;
        margin: 40px 0 10px;
      }
    }
  }

  .patternPickerContainer {
    > span {
      width: 40px;
      height: 40px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .colorPickerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .colorContainer {
      width: 40px;
      height: 40px;
      margin: 6px;
      border: 1px solid white;
    }
  }

  .orderWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 5px;

    .priceEstimation {
      font-weight: bold;
      font-size: 20px;
      padding: 8px 18px;
      transition: opacity 1s;
    }

    .priceChange {
      animation: fadein 1s;
      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    > button {
      color: white;
      font-weight: bold;
      font-size: 23px;
      padding: 8px 18px;

      &:nth-child(2) {
        background-color: $myPageSmallBtnColor;
      }
      &:last-child {
        background-color: $myPageBtnColor;
      }
    }
  }
}

.messageAddedToWishList {
  position: absolute;
  background-color: $shoppingCartMessageBoxColor;
  left: 69%;
  bottom: 3%;
  padding: 10px 30px;
  font-size: 20px;
  animation: fadein 1s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.imagePickerContainer {
  position: relative;
}

.customImgUpBtn {
  position: absolute;
  top: 66px;
  left: 8px;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}
