@import "Style/color.scss";

.customRoot {
  margin: 80px 230px;

  .chooseTypesWrap {
    margin: 0 20px 20px;
    display: flex;
    justify-content: space-evenly;
    width: 420px;
    font-size: 20px;
    font-weight: bolder;
  }

  .chooseViewsWrap {
    display: flex;
    justify-content: space-evenly;
    width: 420px;
    font-size: 20px;
    font-weight: bolder;
  }

  button {
    cursor: pointer;
    font-size: 20px;
    color: $customBtnUnclickedColor;
    &:hover {
      opacity: 0.7;
      color: $myPageHoverColor;
      text-decoration: underline;
    }
  }

  .clicked {
    color: $customBtnClickedColor;
    text-decoration: underline;
    font-weight: bold;
  }

  .customCenter {
    display: flex;
  }

  .socksContainer {
    margin-top: 130px;
    margin-left: 50px;
    width: 450px;
    height: 450px;

    .sockImage {
      position: absolute;
      width: 450px;
      height: 450px;
    }

    .imageMasked {
      position: relative;
      mix-blend-mode: multiply;
    }

    .patternMasked {
      position: absolute;
      left: 280px;
      mix-blend-mode: multiply;
    }
  }

  .chooseWrap {
    padding: 50px 0 0 130px;

    > div {
      > p {
        font-weight: bold;
        font-size: 20px;
        margin: 40px 0 10px;
      }
    }

    .colorPicker {
      width: 10px;
      height: 10px;
      border: none;
      margin-top: 0;
    }
  }

  .colorPickerContainer {
    display: flex;
    flex-wrap: wrap;

    .colorContainer {
      width: 40px;
      height: 40px;
      margin: 5px;
    }
  }
}
