.footer {
  width: 100%;
  height: 100%;
  min-height: 250px;
  max-height: 300px;

  background-color: black;

  @media only screen and (min-width: 350px) and (max-width: 415px) {
    height: auto;
  }
}

.leftBox {
  float: left;
  width: 30%;
  height: 100%;

  @media only screen and (min-width: 320px) and (max-width: 1130px) {
    float: none;
    width: auto;
    height: auto;
  }

  img {
    margin: 50px 0 0 33%;

    @media only screen and (min-width: 320px) and (max-width: 1170px) {
      margin: 0;
      padding: 30px 0 0 9%;
    }
  }
}

.rightBox {
  float: right;
  width: 70%;
  height: 100%;

  @media only screen and (min-width: 320px) and (max-width: 1130px) {
    float: none;
    height: auto;
    width: 100%;
  }
}

.textBox {
  box-sizing: border-box;
  height: 70%;
  padding: 50px 0 0 0;
  color: #9e9e9e;
  line-height: 28px;

  @media only screen and (min-width: 500px) and (max-width: 1130px) {
    width: auto;
    height: auto;
    padding: 0 10% 0 10%;
  }
}
