@import "Style/color.scss";

.viewRewardsExplanation {
  .designerLevelWrap {
    > p {
      color: $myAccountExplanationColor;

      &:first-child {
        font-size: 20px;
        font-weight: bold;
      }

      &:nth-child(2) {
        margin-top: 10px;
      }
    }
  }
}
