@import "Style/color.scss";

.addedToCartMessage {
  position: absolute;
  bottom: 65%;
  right: 12%;
  background-color: $shoppingCartMessageBoxColor;
  font-weight: bold;
  color: $shoppingCartDarkFontColor;
  animation: fadein 1s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .addedToCartInformation {
    position: relative;
    display: flex;
    padding: 10px;

    > div {
      &:first-child {
        width: 50px;
        height: 50px;
        margin: 5px;
        background-image: url("https://cdn11.bigcommerce.com/s-j602wc6a/images/stencil/1024x1024/products/6526/23532/bluebell-crew-socks-recycled-cotton-w__92655.1502809282.jpg?c=2");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &:nth-child(2) {
        font-size: 20px;
        margin: 15px;
      }

      &:last-child {
        font-size: 20px;
        margin: 15px;
      }
    }
  }

  .showCartDetailBtn {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    margin-left: 35px;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: $myPageSmallBtnColor;
    color: white;
  }
}
