@import "Style/color.scss";

.addedToCartMessage {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  right: 8%;
  background-color: $shoppingCartMessageBoxColor;
  font-weight: bold;
  color: $shoppingCartDarkFontColor;
  animation: fadein 1s;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .sectionContainer {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    > span {
      font-size: 17px;
      font-weight: none;
      padding-bottom: 5px;
      border-bottom: 1px solid $myPageBtnClickedBorderColor;
    }
  }
  .addedToCartInformation {
    position: relative;

    .addedToCartList {
      display: flex;
      padding-right: 9px;

      .addedToCartImage {
        padding-left: 35px;
        .itemImageContainer {
          width: 80px;
          .sockImage {
            width: 50px;
            height: 50px;
            margin: 5px;
          }
          .imageMasked {
            position: absolute;
            right: 235px;
            mix-blend-mode: multiply;
          }

          .patternMasked {
            position: absolute;
            left: 35px;
            mix-blend-mode: multiply;
          }

          .uploadedImageMasked {
            position: absolute;
            mix-blend-mode: multiply;
            left: 35px;
            background-size: 20%;
          }
        }
      }
    }

    .addedToCartCategoryAndType {
      font-size: 15px;
      margin: 15px;
    }

    .addedToCartPrice {
      font-size: 15px;
      margin: 15px;
    }
  }

  .showCartDetailBtn {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    margin-left: 35px;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: $myPageSmallBtnColor;
    color: white;
  }
}
