@import "Style/color.scss";

.addressWrap {
  background-color: $myPageBodyColor;
  width: 30%;
  padding: 3% 0 1% 3%;
  margin-top: 40px;
  > div {
    margin-bottom: 20px;
    &:first-child {
      font-weight: bold;
      font-size: 25px;
    }
    &:nth-child(2) {
      font-size: 20px;
    }
  }
}

li {
  list-style: none;
}

ul {
  padding: 0 !important;
}

.addressBtnWrap {
  > button {
    color: $myPageSmallBtnColor;
    background-color: transparent;
    font-size: 15px;

    &:first-child {
      border-right: 1px solid $myPageBorderColor;
      padding-left: 0;
    }
  }
}

.topSectionWrap {
  display: flex;
  margin-top: 45px;
  > p {
    &:first-child {
      font-weight: bold;
      font-size: 45px;
      margin: 0;
    }
  }
}

.addBtn {
  margin: 3.5% 150px 0;
  font-size: 18px;
}

.editAddress,
.addAddress {
  background-color: $myPageBodyColor;
  width: 38%;
  padding: 3.5% 0 2% 3.5%;
  margin-top: 40px;
  > p {
    font-weight: bold;
    margin: 0px;
    &:first-child {
      font-size: 25px;
      margin-bottom: 25px;
    }
  }

  select {
    width: 88%;
    height: 30px;
    font-size: 15px;
    margin: 10px 0 15px;
    border: 1px solid $myPageSelectBorderColor;
    background-color: $myPageBtnFontColor;
  }

  input {
    width: 88%;
    height: 30px;
    font-size: 15px;
    margin: 10px 0 20px;
  }

  button {
    background-color: transparent;
    font-size: 15px;
    color: $myPageSmallBtnColor;
  }
}
